dl.contacts__info
	dt.contacts__info--title
		i.icon.map
	dd.contacts__info--item
		strong.contacts__info--label Office Address
		span.contacts__info--value 98, Arca St, PR City, 33414, Indonesia

	dt.contacts__info--title
		i.icon.phone
	dd.contacts__info--item
		strong.contacts__info--label Call Us
		a.contacts__info--value(href="tel:(+BK)1234567891" title="Call Us") (+BK) 123 456 7891

	dt.contacts__info--title
		i.icon.mail
	dd.contacts__info--item
		strong.contacts__info--label Mail Us
		a.contacts__info--value(href="mailto:info@creaticagency.com" title="Send us an email") info@creaticagency.com