.header__search
	button(type='button' class='btn search open')
		i(class="fa-solid fa-magnifying-glass")
	form.search__form
		.form__group
			input.form__group--control(type='text', placeholder='Search')
			button.btn.search(type='submit')
				i(class="fa-solid fa-magnifying-glass")