include ../partials/header
.wrapper
	include ../partials/hero
	include ../partials/about
	include ../partials/services
	include ../partials/statistics
	//- include ../partials/projects
	//- include ../partials/experience
	include ../partials/testimonials
	include ../partials/contacts	
	include ../partials/footer
	